 @layer utilities {
     .content-auto {
         content-visibility: auto;
     }

     .profile-shadow {
         box-shadow: 0 2px 10px rgba(0, 102, 178, 0.1);
     }

     .avatar-option {
         transition: transform 0.2s;
     }

     .avatar-option:hover {
         transform: scale(1.05);
     }

     #avatarContainer:hover {
         box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
     }

     .card-hover {
         transition: transform 0.3s ease, box-shadow 0.3s ease;
     }

     .card-hover:hover {
         transform: translateY(-5px);
         box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
     }

     @keyframes float {

         0%,
         100% {
             transform: translateY(6px);
         }

         50% {
             transform: translateY(-4px);
         }
     }

     a.head-a {
         padding: 8px 16px;
         border-radius: 8px;
         background-color: #bcffac;
         transition: all 0.3s ease;
         animation: float 2s ease-in-out infinite;
     }

     a.head-a:hover {
         animation-play-state: paused;
         transform: translateY(-1px);
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     }
 }